[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.site-title {
  margin: 0;
  font-size: inherit;
  font-weight: bold;
}

.pagination-first {
  a:before {
    content: '\0000ab';
    display: inline-block;
    margin-left: 0;
  }
}

.pagination-previous {
  a:before {
    content: '\002039';
    display: inline-block;
    margin-left: 0;
  }
}

.pagination-next {
  a:after {
    content: '\00203A';
    display: inline-block;
    margin-left: 0;
  }
}

.pagination-last {
  a:after {
    content: '\0000bb';
    display: inline-block;
    margin-left: 0;
  }
}