<div>
  <div class="panel">
    <div class="panel-content">
      <div class="row">
        <div class="small-12 columns">
          <h4>What's this all about?</h4>
          Trying to lose a few pounds? Give up smoking? Learn a new skill? Bettering yourself is not a simple task. It's hard to stay motivated. That's why you should celebrate your small victories. Share them with the world! Whenever you feel unmotivated, you can look through your past victories and be certain: you did achieve so much already, you can do more!
        </div>
      </div>
    </div>
  </div>

  <div ng-controller="VictoriesTableController" ng-include="'app/partials/victoriesTable.html'"></div>

</div>
