<div ng-cloak="" ng-show="errors.length > 0 || notifications.length > 0" class="panel errors">
  <div ng-show="errors.length > 0" class="row">
    <div class="small-12 columns">
      <div class="callout alert" ng-repeat="error in errors" ng-bind="error"></div>
    </div>
  </div>

  <div ng-show="notifications.length > 0" class="row">
    <div class="small-12 columns">
      <div class="callout success" data-closable="" ng-repeat="notification in notifications">
        <span ng-bind="notification"></span>

        <button
          class="close-button"
          aria-label="Dismiss alert"
          type="button"
          data-close=""
          ng-click="dismissNotification(notification)"
        >
          <span aria-hidden="true">&#215;</span>
        </button>
      </div>
    </div>
  </div>
</div>