<div>
  <ul class="vertical medium-horizontal menu" data-dropdown-menu="">
    <li ng-show="currentUser === null">
      <a ng-href="#/sign_in">Sign In</a>
    </li>
    <li ng-show="currentUser === null">
      <a ng-href="#/sign_up">Sign Up</a>
    </li>
    <li class="menu-text" ng-hide="currentUser === null" ng-bind="currentUser.nickname"></li>
    <li ng-hide="currentUser === null">
      <a ng-href="#/add">Add victory</a>
    </li>
    <li ng-hide="currentUser === null">
      <a ng-click="handleSignOutButtonClick()">Sign out</a>
    </li>
  </ul>
</div>