<div ng-hide="hidePagination" class="small-12 columns">
  <ul class="pagination" role="navigation" aria-label="Pagination">
    <li class="pagination-first">
      <a
        ng-click="setPage(1)"
        ng-class="{ disabled: currentPage === 1 }"
        aria-label="First page"
      >
        <span class="show-for-sr">First page</span>
      </a>
    </li>

    <li class="pagination-previous">
      <a
        ng-click="setPage(currentPage - 1)"
        ng-class="{ disabled: currentPage === 1 }"
        aria-label="Previous page"
      >
        <span class="show-for-sr">Previous page</span>
      </a>
    </li>

    <li ng-repeat="page in pagination">
      <a
        ng-class="{ 'disabled current': page === currentPage }"
        ng-click="setPage(page)"
        aria-label="Page {{ page }}"
      >
        {{ page }}
      </a>
    </li>

    <li class="pagination-next">
    <a
      ng-click="setPage(currentPage + 1)"
      ng-class="{ disabled: currentPage === lastPage }"
      aria-label="Next page"
    >
      <span class="show-for-sr">Next page</span>
    </a>
  </li>

    <li class="pagination-last">
      <a
        ng-click="setPage(lastPage)"
        ng-class="{ disabled: currentPage === lastPage }"
        aria-label="Last page"
      >
        <span class="show-for-sr">Last page</span>
      </a>
    </li>
  </ul>
</div>