<div>
  <div ng-include="'app/partials/notifications.html'"></div>

  <div ng-show="victory !== undefined" class="victories-table panel">

   <div class="row">
    <div class="small-10 medium-11 large-10 xlarge-9 xxlarge-8 columns end">

      <div class="votes" ng-controller="VotesController">
        <div ng-click="upvote(victory)" class="vote upvote" ng-class="{ voted: hasUpvoted(victory) }">
          <span class="show-for-sr">Upvote</span>
          <i class="fa fa-chevron-up"></i>
        </div>
        <div class="count">
          {{ victory.rating }}
        </div>
        <div ng-click="downvote(victory)" class="vote downvote" ng-class="{ voted: hasDownvoted(victory) }">
          <span class="show-for-sr">Downvote</span>
          <i class="fa fa-chevron-down"></i>
        </div>
      </div>

      <div class="victory">
        <div class="victory-meta">
          <small>
            <a href="#">#{{ victory.id }}</a>
              <span class="nowrap">
                submitted by
                <a href="#">{{ victory.user.nickname }}</a>
              </span>
            <span class="nowrap" am-time-ago="victory.created_at"></span>
          </small>
        </div>
        <div class="victory-body">
          {{ victory.body }}
        </div>
      </div>

    </div>
  </div>
</div>
</div>