<div class="form panel">
  <form ng-submit="handleSaveButtonClick()" role="form">

    <div ng-show="errors.length > 0" class="errors row">
      <div class="small-12 columns">
        <div class="callout alert" ng-repeat="error in errors" ng-bind="error"></div>
      </div>
    </div>

    <div class="row form-inputs">
      <div class="small-12 columns">
        <label>
          Describe your small victory:
          <textarea rows="10" name="body" required="required" ng-model="victoryForm.body"></textarea>
        </label>
      </div>
    </div>

    <div class="row form-actions">
      <div class="small-12 columns">
        <button type="submit" class="button primary">Save</button>
      </div>
    </div>
  </form>
</div>