$victory-table-row-bg-even: $lighter-gray;
$victory-table-row-bg-odd: $white;

.victories-table {
  .row {
    padding: $spacing-tiny 0;

    background-color: $victory-table-row-bg-odd;

    &:nth-child(2n) {
      background-color: $victory-table-row-bg-even;
    }
  }

  .victory-meta {
    color: $dark-gray;
  }

  .victory-body {
    margin-bottom: $spacing-small;
  }

  .pagination {
    margin-bottom: 0;

    a.disabled {
      pointer-events: none;

      &.current {
        color: $white;
      }
    }
  }
}
