<div>
  <ul class="vertical medium-horizontal dropdown menu" data-dropdown-menu="">
    <li ng-show="currentUser === null">
      <a ng-href="#/sign_in">Sign In</a>
    </li>
    <li ng-show="currentUser === null">
      <a ng-href="#/sign_up">Sign Up</a>
    </li>
    <li ng-hide="currentUser === null">
      <a ng-href="#/users/account" ng-bind="currentUser.nickname"></a>
    </li>
    <li ng-hide="currentUser === null">
      <a ng-href="#/add">Add victory</a>
    </li>
    <li ng-hide="currentUser === null">
      <a ng-click="handleSignOutButtonClick()">Sign out</a>
    </li>
  </ul>
</div>